<div class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h2>Manage <b>Customers</b></h2>
                    </div>
                    <div class="col-sm-6">
                        <a type="button" class="btn btn-primary" href="/customers/bin">
                            <i class="bi bi-archive"></i><span>Go to recycle bin</span></a>
                        </a>
                        <button type="button" class="add-new-btn btn btn-success" data-bs-toggle="modal"
                            data-bs-target="#add-item-modal">
                            <i class="bi bi-plus-circle"></i><span>Add New</span></a>
                        </button>
                        <button type="button" class="delete-customers-btn btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#delete-item-modal">
                            <i class="bi bi-dash-circle"></i><span>Delete</span></a>
                        </button>
                    </div>
                </div>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th><input type="checkbox" id="select-all-checkbox"></th>
                        <th>#</th>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Age</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each customers}}
                    <tr>
                        <td><input class="select-item-checkbox" type="checkbox" value={{_id}}></td>
                        <td>{{sum @index 1}}</td>
                        <td>{{first_name}}</td>
                        <td>{{last_name}}</td>
                        <td>{{age}}</td>
                        <td>
                            <i type="button" data-bs-id={{_id}} class="update-customer-btn bi bi-pencil-square"
                                data-bs-toggle="modal" data-bs-target="#add-item-modal" style="font-size: 21px;"></i>
                            <i type="button" data-bs-id={{_id}} class="delete-customer-btn bi bi-trash"
                                data-bs-toggle="modal" data-bs-target="#delete-item-modal" style="font-size: 21px;"></i>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>

{{> modals/add-item nameForm="Add Customer"}}
{{> modals/delete-item nameForm="Delete Customer"}}

<script>
    $(document).ready(function () {
        const ADD_CUSTOMER = "Add Customer"
        const UPDATE_CUSTOMER = "Update Customer"
        let TITLE = ADD_CUSTOMER
        let LIST_SELTECTED_CUSTOMERS_ID = []

        const ALL_FIELDS = ["first_name", "last_name", "age"]

        const getDataForm = (form, keys) => {
            return new Map(keys.map(k => [k, form.find(`[name=${k}]`).val()]))
        }

        const setTitleForAddItemForm = (title) => {
            TITLE = title
            $("#add-item-form .modal-title").text(title)
        }

        const setDataForm = (form, keys, data = null) => {
            for (const k of keys) {
                form.find(`[name=${k}]`).val(data ? data[k] : "")
            }
        }

        const clearDataForm = (form, keys) => {
            setDataForm(form, keys)
        }

        const addNewCustomerByAPI = () => {
            const $form = $("#add-item-form")
            const url = './customers'
            const data = getDataForm($form, ALL_FIELDS)

            $.post(url,
                Object.fromEntries(data),
                function (data, status) {
                    location.reload(true);
                }
            ).fail(function (xhr, status, error) {
                alert(xhr.responseText)
            });
        }

        const updateCustomerByAPI = (id) => {
            const $form = $("#add-item-form")
            const data = getDataForm($form, ALL_FIELDS)

            $.ajax({
                url: './customers?_method=PUT',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ ...Object.fromEntries(data), _id: id }),
            }).done(function (data) {
                location.reload(true);
            }).fail(function (xhr, status, error) {
                alert(xhr.responseText)
            });
        }

        const getAllSelectedCutomerId = () => {
            return $('.select-item-checkbox:checked').map(function () { return $(this).val() }).get()
        }

        //add event for button submit on add new/update customer modal
        $("#add-item-form").submit(function (event) {
            event.preventDefault()

            if (TITLE == ADD_CUSTOMER) {
                addNewCustomerByAPI()
            } else {
                const id = $(this).find("[type=submit]").attr("data-bs-id")
                updateCustomerByAPI(id)
            }
        })

        $(".delete-customer-btn").click(function () {
            const id = $(this).attr("data-bs-id")
            LIST_SELTECTED_CUSTOMERS_ID = [id]
            //const action = `./customers/${id}?_method=DELETE`
            //$("#delete-item-form").attr("action", action)
        })

        $(".delete-customers-btn").click(function () {
            LIST_SELTECTED_CUSTOMERS_ID = getAllSelectedCutomerId();
        })

        $("#delete-item-form").submit(function (event) {
            console.log('./customers/delete?_method=DELETE')
            event.preventDefault()
            $.ajax({
                url: './customers?_method=DELETE',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ ids: LIST_SELTECTED_CUSTOMERS_ID }),
            }).done(function (data) {
                location.reload(true);
            }).fail(function (xhr, status, error) {
                alert(xhr.responseText)
            });
        })

        $(".add-new-btn").click(function () {
            setTitleForAddItemForm(ADD_CUSTOMER)
            clearDataForm($("#add-item-form"), ALL_FIELDS)
        })

        $(".update-customer-btn").click(function () {
            setTitleForAddItemForm(UPDATE_CUSTOMER)

            const id = $(this).attr("data-bs-id")
            $.get(`./customers/${id}`,
                function (data, status) {
                    setDataForm($("#add-item-form"), ALL_FIELDS, data)
                    $("#add-item-form").find("[type=submit]").attr("data-bs-id", data._id)
                }
            ).fail(function (xhr, status, error) {
                alert(xhr.responseText)
            });

        })

        $("#select-all-checkbox").click(function () {
            const $sel_all_chkbox = $(this)
            const isChecked = $sel_all_chkbox.is(":checked")
            $('.select-item-checkbox').prop("checked", isChecked)
        })

        $('.select-item-checkbox').click(function () {
            const isCheckedAll = $('.select-item-checkbox:checked').length === $('.select-item-checkbox').length
            console.log(isCheckedAll)
            $('#select-all-checkbox').prop("checked", isCheckedAll)
        })
    });
</script>