<div class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h2>Manage <b>Customers</b></h2>
                    </div>
                    <div class="col-sm-6">
                        <a type="button" class="btn btn-primary" href="/customers/bin">
                            <i class="bi bi-archive"></i><span>Go to recycle bin</span></a>
                        </a>
                        <button type="button" class="add-new-btn btn btn-success" data-bs-toggle="modal"
                            data-bs-target="#add-item-modal">
                            <i class="bi bi-plus-circle"></i><span>Add New</span></a>
                        </button>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#delete-item-modal">
                            <i class="bi bi-dash-circle"></i><span>Delete</span></a>
                        </button>
                    </div>
                </div>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th><input type="checkbox" id="checkbox-select-all"></th>
                        <th>#</th>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Age</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each customers}}
                    <tr>
                        <td><input type="checkbox"></td>
                        <td>{{sum @index 1}}</td>
                        <td>{{first_name}}</td>
                        <td>{{last_name}}</td>
                        <td>{{age}}</td>
                        <td>
                            <i type="button" class="bi bi-pencil-square" style="font-size: 21px;"></i>
                            <i type="button" data-bs-id={{_id}} class="delete-customer-btn bi bi-trash"
                                data-bs-toggle="modal" data-bs-target="#delete-item-modal" style="font-size: 21px;"></i>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Edit Modal HTML -->
{{> modals/add-item nameForm="Add Customer"}}


<!-- Delete Modal HTML -->
{{> modals/delete-item nameForm="Delete Customer"}}

<script>
    $(document).ready(function () {
        const getDataForm = (form, keys) => {
            return new Map(keys.map(k => [k, form.find(`[name=${k}]`).val()]))
        }

        const setTitleForAddItemForm = (title) => {
            $("#add-item-form .modal-title").text(title)
        }

        $("#add-item-form").submit(function (event) {
            event.preventDefault()

            const $form = $(this)
            const url = './customers'
            const data = getDataForm($form, ["first_name", "last_name", "age"])

            const posting = $.post(url,
                Object.fromEntries(data),
                function (data, status) {
                    location.reload(true);
                }
            );

            posting.fail(function (xhr, status, error) {
                alert(xhr.responseText)
            });
        })

        $(".delete-customer-btn").click(function (event) {
            const id = $(this).attr("data-bs-id")
            const action = `./customers/${id}?_method=DELETE`
            $("#delete-item-form").attr("action", action)
        })

        $(".add-new-btn").click(function () {
            setTitleForAddItemForm("Add Customer")
        })
    });
</script>